<a href="https://colab.research.google.com/github/cat97-a11/hello-world/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Let's import the pandas library
import pandas as pd

# as well as the Numpy library
import numpy as np

#Then after loading proceed to create dataframe from the files

In [0]:
from google.colab import files

import io

uploaded = files.upload()

Saving cells_geo_description.xlsx to cells_geo_description.xlsx

In [0]:
df_1 = pd.read_excel('cells_geo_description.xlsx')
df_1.head(8)

    Column name        Description  Format
0        VILLES               City  String
1        STATUS  In Service or not  String
2  LOCALISATION  in ABIDJAN or not  String
3    DECOUPZONE  Geographical Zone  String
4      ZONENAME       Name of Zone  String
5     LONGITUDE          Longitude   Float
6      LATITUDE           Latitude   Float
7        REGION             Region  String

In [0]:
from google.colab import files

import io

uploaded = files.upload()

Saving cells_geo.csv to cells_geo.csv

In [0]:
df = pd.read_csv('cells_geo.csv', delimiter = ';')
df_2

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [0]:
from google.colab import files

import io

uploaded = files.upload()

Saving CDR_description.xlsx to CDR_description.xlsx

In [0]:
df_3 = pd.read_excel('CDR_description.xlsx')
df_3

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [0]:
from google.colab import files

import io

uploaded = files.upload()

Saving Telcom_dataset.csv to Telcom_dataset.csv

In [0]:
df_4 = pd.read_csv('Telcom_dataset.csv')
df_4

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

In [0]:
from google.colab import files

import io

uploaded = files.upload()

Saving Telcom_dataset2.csv to Telcom_dataset2.csv

In [0]:
df_5 = pd.read_csv('Telcom_dataset2.csv')
df_5

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

In [0]:
from google.colab import files

import io

uploaded = files.upload()

Saving Telcom_dataset3.csv to Telcom_dataset3.csv

In [0]:
df_6 = pd.read_csv('Telcom_dataset3.csv')
df_6

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]

In [0]:
#we will then merge the first and third dataframe which have similar columns
df_1 = pd.read_excel('cells_geo_description.xlsx')
df_2 = pd.read_csv('cells_geo.csv', delimiter = ';')
df_both = (df_1, df_2)

pd.concat(df_both)
df

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [140]:
#Before we merge the below data, we will clean it by dropping
#columns described as useless here and not needed here
df_3 = pd.read_excel('CDR_description.xlsx')
df_3

df.drop(['COUNTRY_A', 'COUNTRY_B'], axis = 1, inplace= True)
df

          Column name  ...     SIET_ID
0             PRODUCT  ...         NaN
1               VALUE  ...         NaN
2           DATE_TIME  ...         NaN
3        CELL_ON_SITE  ...         NaN
4     DW_A_NUMBER_INT  ...         NaN
...               ...  ...         ...
4996              NaN  ...  f7d63a29e5
4997              NaN  ...  b4ddb9e93c
4998              NaN  ...  d68260ef50
4999              NaN  ...  b4130b54ab
5000              NaN  ...  6d70dae094

[15013 rows x 17 columns]

In [139]:
df_3 = pd.read_excel('CDR_description.xlsx')
df_4 = pd.read_csv('Telcom_dataset.csv')
df_5 = pd.read_csv('Telcom_dataset2.csv')
df_6 = pd.read_csv('Telcom_dataset3.csv')

df_all = (df_3, df_4, df_5, df_6)

df = pd.concat(df_all)
df

          Column name  ...     SIET_ID
0             PRODUCT  ...         NaN
1               VALUE  ...         NaN
2           DATE_TIME  ...         NaN
3        CELL_ON_SITE  ...         NaN
4     DW_A_NUMBER_INT  ...         NaN
...               ...  ...         ...
4996              NaN  ...  f7d63a29e5
4997              NaN  ...  b4ddb9e93c
4998              NaN  ...  d68260ef50
4999              NaN  ...  b4130b54ab
5000              NaN  ...  6d70dae094

[15013 rows x 19 columns]

In [145]:
df_1 = pd.read_excel('cells_geo_description.xlsx')
df_2 = pd.read_csv('cells_geo.csv', delimiter = ';')
df_3 = pd.read_excel('CDR_description.xlsx')
df_4 = pd.read_csv('Telcom_dataset.csv')
df_5 = pd.read_csv('Telcom_dataset2.csv')
df_6 = pd.read_csv('Telcom_dataset3.csv')

df_both = (df_1, df_2)
df_all = (df_3, df_4, df_5, df_6)

df = pd.concat(df_all, df_both )

TypeError: ignored